<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="description" content="#">
	<meta name="author" content="#">
	<title>Raymond Hood Exhibit Templates</title>
	<link type="text/css" rel="stylesheet" media="screen" href="../assets/css/grid.min.css" />
	<link type="text/css" rel="stylesheet" media="screen" href="../assets/css/app.css" />
</head>
<body class="container">
	<div class="wrapper row">
		<h2>Raymond Hood Exhibit Templates</h2>	
		<ul>
			<li><a href="layout-a.html">Layout A</a></li>
			<li><a href="layout-b.html">Layout B</a></li>
		</ul>

	</div>
</body>
</html>