<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="description" content="#">
	<meta name="author" content="#">
	<title>Raymond Hood Exhibit Templates</title>
	<link type="text/css" rel="stylesheet" media="screen" href="../assets/css/grid.min.css" />
	<link type="text/css" rel="stylesheet" media="screen" href="../assets/css/app.css" />
</head>
<body class="container">
	<div class="wrapper layout--a row">
		<header class="col-1">
			<a class="nav__btn--skip" href="#main-content">Skip to Main Content</a>
			<nav class="nav--main" aria-label="Main"><button>Raymond Hood</button></nav>
		</header>
		<main id="main-content" class="col container" aria-role="main">
			<section class="row">
				<div class="section__image col"></div>
				<div class="section__text col">
					<h1 class="exhibit__title">
						<span class="title">Raymond Hood</span> <span class="subtitle">and the American Skyscraper</span>
					</h1>
					<h5 class="exhibit__byline">Curated by Jo-Ann Conklin, Jonathan Duval, and Dietrich Neumann</h5>
				</div>
			</section>
			<nav class="nav--secondary row" aria-label="Secondary">
				<a class="nav__btn--prev" href="#"><div class="btn__icon"></div><div class="btn__label">Back</div></a>
				<a class="nav__btn--next" href="#"><div class="btn__label">The Digital Exhibition</div><div class="btn__icon"></div></a>
			</nav>
			<div class="branding row">David Winton Bell Gallery Logo</div>
		</main>		
	</div>
</body>
</html>