<!DOCTYPE html>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	<meta name="description" content="#">
	<meta name="author" content="#">
	<title>Raymond Hood Exhibit: Template B</title>
	<link type="text/css" rel="stylesheet" media="screen" href="../assets/css/grid.min.css" />
	<link type="text/css" rel="stylesheet" media="screen" href="../assets/css/app.css" />
</head>
<body class="container">
	<div class="wrapper layout--b row">
		<header class="col-3 col-md-2 col-lg-1 col-xl-1">
			<a class="nav__btn--skip" href="#main-content">Skip to Main Content</a>
			<nav class="nav--main" aria-label="Main"><button>Raymond Hood</button></nav>
		</header>
		<main id="main-content" class="col container" aria-role="main">
			<section class="row">
				<h1>Section Title</h1>
				<div class="section__image col-12 col-xl-6">
					<img src="../assets/img/test.jpg" />
				</div>
				<div class="section__text col-12 col-xl-6">
					<p class="tombstone"><span class="tombstone__main">Artist Detail<br />Image Detail</span><span class="tombstone__extended">Extended<br />Image<br />Details<br /></span></p>
					<p class="copy">Body Copy</p>
				</div>
			</section>
		</main>
		<nav class="nav--secondary row" aria-label="Secondary">
			<a class="nav__btn--prev" href="#"><div class="btn__icon"></div><div class="btn__label">Back</div></a>
			<a class="nav__btn--next" href="#"><div class="btn__label">Next</div><div class="btn__icon"></div></a>
		</nav>
	</div>
</body>
</html>