@import 'variables';

.layout--b {
	section {

	}
	.section__image {
		img {
			height: 100vh;
			width: auto;
		}
	}
	.section__text {
		background-color: $white;
		color: $black;
	}
}
@media screen and (max-width: 767px) {
	.section__image {
		height: 80vh !important;
		
		img {
			height: 100%
		}
	}	
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	
}